.prevPage, .nextPage, .firstPage, .lastPage, .page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 0 .5% 0 .5%;
  transition: .5s;

  padding: 2% 1% 2% 1%;
  background: #F0E6CA;
  font-weight: bold;

  &:hover {
    background: #e8daae;
    transition: .5s;
  }


}

.page {
  min-width: 50px;
  background: #F0E6CA;
}

.active {
  background: #e8daae;
}

.inActive {
  color: #b1b1b1;
}
